<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <nav>
        <a href="/">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </nav>
    <div class="section">
        <h2>Contact Me</h2>
        <div class="card" style="display: flex; justify-content: space-between;">
            <form style="flex:1;">
                <p><input placeholder="Name" style="width:90%"></p>
                <p><input placeholder="Subject" style="width:90%"></p>
                <p><input placeholder="Email" style="width:90%"></p>
                <p><button>Send</button></p>
            </form>
            <div style="flex:1;">
                <p><strong>Phone:</strong> ‪+91 6303708966‬</p>
                <p><strong>Email:</strong> nagapavankumar.2003@gmail.com</p>
            </div>
        </div>
    </div>
</body>
</html>