<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Skills</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <nav>
        <a href="/">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </nav>
    <div class="section">
        <h2>SKILLS</h2>
        <div class="card">
            <ul>
                <li>JAVA</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>BOOTSTRAP</li>
                <li>spring</li>
                <li>SpringBoot</li>
                <li>TYPESCRIPT</li>
                <li>ANGULAR</li>
            </ul>
        </div>
    </div>
</body>
</html>