
<!-- applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="doctorRepository" class="com.model.DoctorRepository">
        <property name="doctorSchedules">
            <map>
                <entry key="DOC101">
                    <list>
                        <!-- Already booked dates; leave empty if none -->
                    </list>
                </entry>
                <entry key="DOC102">
                    <list/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="appointmentService" class="com.model.AppointmentService">
        <property name="doctorRepository" ref="doctorRepository"/>
    </bean>
</beans>